#div6, #div7, #div8 {width: 200px; height: 200px;}
#div6 { background-color: #ff9911;}
#div7 {background-color: rgb(255,0,0);}
#div8 {background-color: rgba(255,0,0,0.1);}

* { margin: 0; padding: 0; color: red; }

#div5 h3:nth-child(2){ background-color: purple; }
#div5 h4:nth-child(6){ background-color: peru; }
#div5 h4:nth-of-type(3) {background-color: gold; }

#div4 ~ div {background-color: red; }
#div4 + div {background-color: blue; }

#div3 { width: 200px; height: 200px; background-color: green;}
#div3 > div > h3 {color: aqua;}

#div2 { width: 200px; height: 200px; background-color: gold;}
#div2 > h3 { color: green; }

#div1 { width: 200px; height: 200px; background-color: gray;}
#div1 h3 { color: red; }