#div1,
#div2,
#div3 {
    width: 200px;
    height: 200px;
    background-color: red;
}

#div1:hover {
    background-color: green;
    width: 400px;
}

#div2>div {
    width: 100px;
    height: 100px;
    background-color: blue;
}

#div2:hover div {
    background-color: green;
    width: 150px;
    height: 150px;
}

/* 
div3를 hover하면 바로 다음에 오는 div4가 다음과 같은 스타일로 변경됨
*/
#div3:hover+#div4 {
    background-color: green;
    width: 150px;
    height: 150px;
}