/* 
    item의 총 width = 총 width - (item-1) * 여백 width
    각 item의 width = (총 width - (item-1) * 여백 width)/item 수

    - margin x(상) y(우) z(하) k(좌): 상하좌우로 얼마만큼 밀어낼 것인가를 의미함
        - 한개씩 지정
            - margin-top
            - maigin-right
        - 두 개만 작성하면 (상하) (좌우)
        - 한개만 작성하면 (상하좌우)
            - margin: auto 화면이 확장 축소되든 가운데 정렬을 해줌 
    - padding x(상) y(우) z(하) k(좌): 안쪽에서 얼마만큼 밀어낼 것인가를 의미함
        - padding-top
*/
#div4 {
    border: 5px solid;
    width: 300px;
    height: 200px;
}

/* 
가로로 나열하고 싶을 때
    - display: inline-block
        - 블록
        - 만약 주어진 공간보다 크기가 클 때는 다음 줄로 이동
    - display: inline
        - 글씨크기 만큼의 영역
*/
#div4 div {
    width: 95px;
    height: 100px;
    background-color: red;
    display: inline-block;
    margin-right: 7.5px;
}
/* #div4 :nth-of-type(2){
    margin:0 7.5px;
} */

/* 마지막 중에 첫번쨰
#div4 div:nth-last-child(1){
    margin-right: 0;
    background-color: aqua;
} */

/* 3의 배수에 해당하는 div에 적용 */
#div4 div:nth-child(3n){
    margin-right:0px;
}

#span {
    background-color: gold;
    width: 200px;
    margin: auto;
    text-align: right;
    display: block;
}

#div2 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
}

#div3 {
    width: 200px;
    height: 200px;
    background-color: green;
}


#div3>div {
    width: 50px;
    height: 50px;
    background-color: gold;
    margin: auto;
}


#div1 {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    border: 15px solid navy;
    margin: 25px 100px;
    padding-top: 100px;
    /* 
    margin: 20px 0 0 0; 
    margin-top: 100px; 
    padding: 100px;  */
}