/* 
    - display
        - display: flex 공백 제거된 인라인 방식 
            (=엔로인해 발생한 공백이 제거된 inline-block)
*/

#div2{
    width: 300px;
    border: 1px solid;
    display: flex;

    & > div {
        width: 150px;
        border: 1px solid green;
    }

    & :nth-of-type(2){
        display: flex;

        & div{
            width: 50%;
            border: 1px solid;
        }
    }
}

#div1 {
    width: 300px;
    background: gray;
    display: flex;

    & div {
        width: 100px;
    }

    & :nth-of-type(1) {
        background-color: aqua;
        order: 3;
    }

    & :nth-of-type(2) {
        background-color: blue;
        order: 2;
    }

    & :nth-of-type(3) {
        background-color: brown;
        order: 1;
    }

}