/* 
    그림자 효과
        - text-shadow: 그림자효과(상) 그림자효과(하) 블러효과
            - 음수가 들어가면 왼쪽 방향
        - box-shadow
    
    클릭 효과
        - :active

    커서 효과
        - focus

    클릭 시 테두리
        - outline
*/

* {
    margin: 0;
    padding: 0;
}

#login {
    width: 360px;
    height: 230px;
    box-shadow: 0 0 8px lightgray;
    border-radius: 10px;

    & .title {
        background-color: bisque;
        text-align: center;
        letter-spacing: 10px;
        font-size: 25px;
        border-bottom: 3px dotted olive;
        width: 220px;
        margin: auto;
        padding: 10px 0;
        color: darkcyan;
    }

    &>form {
        background-color: aquamarine;
        width: 270px;
        margin: auto;

        &>input {
            color: gray;
            font-size: 20px;
            margin-top: 30px;
            border: none;
            outline: none;
            border-bottom: 2px solid lightgray;
            letter-spacing: 3px;
            width: 100%;

            &:focus {
                border-bottom: 2px solid red;
            }
        }

        &>button{
            margin-top: 20px;
            width: 100%;
            height: 30px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            background-color: lightgray;

            &:hover{
                background-color: gray;
                box-shadow: 0 0 2px black;
            }
        }
    }
}

#div1 {
    width: 100px;
    height: 100px;
    background-color: gray;
    color: wheat;
    font-size: 20px;
    text-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px red;

    &:active {
        color: blue;
        background-color: aqua;
    }
}

img {
    width: 100px;
    height: 100px;

    &:hover {
        box-shadow: 0 0 10px black;
    }
}