/* 
    z-index
    - 우선 순위 설정
        - static의 경우 동작하지 않음
        - 숫자가 클수록 우선순위가 높다는 걸 의미

    위치
    - 기본적으로 static이 반영되므로 위치 조정이 필요할 때, position을 설정해줘야 함
    - position: relative or absolute라는 값을 가질 때, 부모 안에서 이동
    - position: inherit 부모의 속성을 물려받음
    - position 옵션
        - relative: 부모 태그의 영향을 받아서 위치조정
        - absolute: 스크롤을 움직였을 때 스크롤에 따라 위치 미변경
        - fixed: 스크롤을 움직였을 때 스크롤에 따라 위치 변경
*/

#modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
}

a{
    position: absolute;
    z-index: 10;
}

#static2,
#relative2,
#absolute2,
#fixed2 {
    width: 100px;
    height: 100px;
}

#static2 {
    background-color: rebeccapurple;
}

#relative2 {
    background-color: gray;
    position: relative;
    top: -75px;
    left: 25px;
    z-index: 2;
}

#absolute2 {
    background-color: aqua;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

#fixed2 {
    background-color: burlywood;
    position: fixed;
    top: 75px;
    left: 75px;
    z-index: 3;
}

#wrap {
    width: 300px;
    height: 800px;
    background-color: green;
    margin: 300px auto;

    &>div {
        width: 100px;
        height: 100px;

        &>div {
            width: 50px;
            height: 50px;
            background-color: aqua;
        }
    }

    & #relative {
        background-color: red;
        top: 300px;
        left: 50px;
        position: relative;

        &>div {
            top: 10px;
            left: 10px;
            position: inherit;
        }
    }

    & #absolute {
        background-color: gold;
        top: 300px;
        right: 50px;
        position: absolute;

        &>div {
            top: 10px;
            left: 10px;
            position: inherit;
            background-color: black;
        }

    }

    & #fixed {
        background-color: navy;
        top: 300px;
        left: 50px;
        position: fixed;

        &>div {
            top: 10px;
            left: 10px;
            /* position: inherit; */
        }
    }

}