/* 
    - 큰 틀의 경우 id를 주로 사용하고
    - 세부 조정은 class를 이용해서 진행한다
*/

#wrap {
    width: 1200px;
    margin: auto;


    &>#header {
        height: 100px;
        background-color: red;
    }

    &>#main {
        height: 400px;
        display: flex;

        &>#side-left {
            width: 20%;
            background-color: yellow;
        }

        &>#section {
            width: 50%;
            background-color: green;

            & div {
                width: 70%;
                height: 15%;
                background-color: white;
                border: 2px solid lightgreen;
                margin: auto;
                margin-top: 60px;
            }
        }

        &>#side-right {
            width: 30%;
            background-color: yellow;
        }
    }

    &>#footer {
        height: 100px;
        background-color: pink;
    }

}