* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 200px;
    border: 1px solid;


    & #nav {
        list-style: none;
        height: 50px;
        border-bottom: 1px solid;
        background-color: gold;
        justify-content: space-evenly;



        /* &:hover .menu {
            display: block;
            position: absolute;
        } */


        &>li {
            margin-left: 20px;

            &:nth-child(1) .menu {
                left: 100px;
                top: -5px;
            }

            &:nth-child(2) .menu {
                left: 100px;
                top: 20px;
            }

            &:hover .menu {

                display: block;
                position: absolute;
            }
        }


        & .menu {
            width: 100px;
            height: 80px;
            list-style: none;
            text-align: center;
            display: none;
            margin-top: 8px;
            padding-top: 8px;
            border: 1px solid;
            border-radius: 10px;
            box-shadow: 1px 1px 10px;
            position: inherit;
            background-color: white;
        }

    }
}