* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 200px;
    height: 130px;
    border: 1px solid;


    & #nav {
        list-style: none;
        display: flex;
        height: 30px;
        border-bottom: 1px solid;
        background-color: gold;
        justify-content: space-evenly;



        /* &:hover .menu {
            display: block;
            position: absolute;
        } */


        & li {

            &:nth-child(1) .menu {
                left: 0px;
            }

            &:nth-child(2) .menu {
                left: 100px;
            }

            &:hover .menu {

                display: block;
                position: absolute;
            }
        }


        & .menu {
            width: 100px;
            height: 90px;
            list-style: none;
            text-align: center;
            display: none;
            margin-top: 8px;
            border: 1px solid;
            border-radius: 10px;
            box-shadow: 1px 1px 10px;
            position: inherit;
        }

    }
}