#wrap {
    width: 1200px;
    margin: auto;


    &>div:nth-of-type(1) {
        height: 100px;
        background-color: red;
    }

    &>div:nth-of-type(2) {
        height: 400px;
        display: flex;

        &>div:nth-of-type(1) {
            width: 20%;
            background-color: yellow;
        }

        &>div:nth-of-type(2) {
            width: 50%;
            background-color: green;

            & div{
                width: 400px;
                height: 60px;
                background-color: white;
                border: 2px solid lightgreen;
                margin: auto;
                margin-top: 50px;
            }
        }

        &>div:nth-of-type(3) {
            width: 30%;
            background-color: yellow;
        }
    }

    &>div:nth-of-type(3) {
        height: 100px;
        background-color: pink;
    }

}