* {
    margin: 0;
    padding: 0;
}

#header {
    width: 1200px;
    height: 200px;
    background-color: darkred;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-size: cover;
    background-image: url("융프라웅.jpg");
}

#nav {
    display: flex;
    align-items: center;

    & #menu {
        list-style: none;
        display: flex;
        color: white;
        font-size: 30px;
        padding: 0px;
        margin-right: 100px;

        & li {
            margin: 0 20px;

            & a {
                text-decoration: none;

                &:hover {
                    border-bottom: 5px solid;
                    padding-bottom: 5px;
                    color: orange;
                    transition: all 0.25s;
                }
            }
        }
    }

    & #info {
        list-style: none;
        display: flex;
        color: gray;
        font-size: 20px;
        padding: 0px;
        margin-left: 100px;

        & li {
            margin: 0 10px;

            & a {
                text-decoration: none;

                &:hover {
                    border-bottom: 5px solid;
                    padding-bottom: 5px;
                    color: orange;
                    transition: all 0.25s;
                }
            }


        }
    }
}