* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 200px;
    height: 130px;
    border: 1px solid;
}

#nav {
    list-style: none;
    display: flex;
    height: 30px;
    border-bottom: 1px solid;
    background-color: gold;
    justify-content: space-evenly;

}

#list:nth-child(1) {
    left: 40px;
    position: absolute;
}

#list:nth-child(2) {
    left: 120px;
    position: absolute;

}

#list:hover ul {
    display: block;
}

/* #div:hover ul {
    display: block;
} */

#list ul {
    width: 80px;
    list-style: none;
    text-align: center;
    display: none;
    margin-top: 8px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    position: inherit;
}

#nav li:nth-child(1) ul {
    left: -40px;
}

#nav li:nth-child(2) ul {
    left: -20px;
}