#wrap {
    height: 600px;
    width: 200px;
}

#logo {
    height: 200px;
    border-radius: 200px;
    overflow: hidden;
}

#logo img {
    height: 200px;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

.item {
    height: 400px;
    border: 1px solid gray;
    border-radius: 5px;


}

.item div:nth-child(1) {
    height: 200px;
    overflow: hidden;
}

.item img {
    height: 200px;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

.item div:nth-child(2) {
    height: 150px;

    &>a {
        color: black;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }
}

.item div:nth-child(3) {
    color: blue;
    text-align: right;
}

#logo~button {
    border: none;
    background-color: gray;
    color: white;
    border-radius: 20px;

    &:hover {
        background-color: red;
    }
}