/* 
    - margin
        - margin: auto 화면 정중앙에 위치하도록 
    - span
        - 위치, 정렬 등 조정 불가능
            - display: block or lnline-block을 하면 조정 가능
*/
#wrap {
    width: 1200px;
    height: 600px;
    /* border: 1px solid; */
    margin: auto; 

    & div {
        width: 216px;
        height: 285px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: inline-block;
        background-image: url("융프라웅.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        &:hover span {
            background-color: green;
            background-image: none;
            color: white;
            opacity: 1;
            transition: all 0.3s;
        }

        & span {
            width: 100px;
            height: 30px;
            text-align: center;
            color: red;
            border: 3px solid darkgray;
            border-radius: 20px;
            display: block;
            margin: 227.5px 58px 27.5px 58px;
            opacity: 0.5;
            transition: all 0.3s;
        }
    }

    & div:nth-child(5n) {
        margin-right: 0px;
        margin-bottom: 0px;
    }


}